<form action="" method="POST">
    <textarea name="snippet" rows="20" cols="100"></textarea>

    <br>
    <label name="snippetName">Name Of Snippet: </label>
    <input type="text" name="snippetName">
    <br>
    <input type="submit" value="Save">

</form>
