<h4>Snippet name + username of snippet owner</h4>
<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />

<textarea></textarea>
 
<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
 
<!-- Initialize the editor. -->
<script>
  new FroalaEditor('textarea');
</script> 

<a href="">Edit Snippet</a>
<a href="">Save Snippet</a>
