<!-- <form action="get" action="http://localhost:8000/logout">
        <input type="submit" value="Log out">
</form> -->
<div style="padding: 10px">
    <a href="http://localhost:8000/logout"><button>Log out</button></a>
</div>

