<h1>Dashboard</h1>

{{> error}}
<a href="/dashboard/mySnippets">My Snippets</a>
<a href="/dashboard/allSnippets">All Snippets</a>

{{> logoutButton}}

<!-- Present the three latest snippets IF WE HAVE TIME -->


