<h1>Log In</h1>
{{> error}}
<form action="/login" method="POST">
<div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" required>
</div>
<button type="submit">Login</button>
<a href="/register">Register</a>
<a href="/">Home</a>

</form>
