<h1>Log In</h1>
<form action="/dashboard" method="POST">
<div>
    <label for="Username">Username</label>
    <input type="text" id="Username" name="Username" required>
</div>
<div>
    <label for="Password">Password</label>
    <input type="text" id="Password" name="Password" required>
</div>
<button type="submit">Login</button>
<a href="/register">Register</a>
<a href="/">Homer</a>

</form>