<h1>Hi, Welcome to the code snippet saver</h1>
{{> error}}

<button><a href="/register">Register new user</a></button>
<button><a href="/login">Login</a></button>
<br>
<hr>
<h2>Recent Snippets</h2>

{{> snippet}}

