<h1>Create New Snippet</h1>


<form method="POST" action="/dashboard/saveSnippet">
    <label for="snippetName">
        Name Of Snippet: 
    </label>

    <input type="text" name="snippetName">

</form>

{{> createSnippet}}

